body{
    margin: 0;
    padding: 0;
}
table, th, td{
 border:2px solid red;
 text-align: center;
 font-size: medium;
}
th, td{
    background-color: rgb(58, 233, 58);
    padding: 8px;
}
.content{
    width: 1200px;
    margin 0 auto;

}
header{
    background: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    position: relative;
}
header nav{
    background-color: yellow;
    width: 100%;
    height: 50px;
}
header nav ul a{
    text-decoration: none;
}
header nav ul{
    display: flex;
    list-style: none;
    justify-items: center;
    
}
header nav ul li{
margin-left: 40px;
}
header nav ul li i{
    font-size: 30px;
}
header nav{
    display: flex;
    justify-content: space-between;

}
header .welcome{
    padding-left: 900px;
    padding-top: 300px;
    text-align: center;
    align-items: center;
}
header .welcome h2{
    color: rgb(13, 252, 13);
margin-bottom:35px;
}
header .welcome a{
    background-color: rgb(255, 51, 0);
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(250, 248, 248);
    margin-left:20px;
    margin-top:20px;
    padding: 10px;
}
header .forms{
    color:azure;
    padding-left: 1000px;
    padding-top: 200px;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    font-size:18px;
}
header .forms h2{
    color: rgb(13, 252, 13);
    font-size:16px;
    margin-left:  10px;
    margin-bottom: 45px;
}
header .forms form input{
    border: none;
    font-size: 10px;
}
header .forms form label{
    color: rgb(241, 105, 64);
    font-size: 15px;
    
}
header .forms form input[type=button]{
    background-color: forestgreen;
   margin-left: 45px;
    padding: 15px;
    border-radius: 7px;
    color: white;
}
header .forms form input[type=checkedbox]{
    color: antiquewhite;
}

header .order{
text-align:center;
padding-top: 50px;
}
header .order table{
    margin :0 auto;
}

header .order h2{
    color: white;
}
header .order p{
    margin-top: 30px;
    color: white;
}
header .order caption{
    color: yellow;
    font-size: 20px;
}
.video{
    justify-content: center;
    text-align: center;
    background-color: rgb(248, 248, 117);
}

